@import '../../stylesheets/main';

.BluePrint {
  display: block;

  > svg {
    position: fixed;
    top: 0;
    left: 0;
    transform: rotate(-90deg) translateX(-100%);
    width: 11in;
    height: 8.5in;
    transform-origin: top left;
  }
}

@media print {
  .BluePrint {
    display: block;
  }

  @page {
    margin: 0;
    background-image: none;
  }
}
