@import '../../stylesheets/main';

.BluePrint {
  display: none;

  > svg {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    width: calc(11in);
    height: calc(8.5in);
    transform-origin: top left;
  }
}

@media print {
  .BluePrint {
    display: block;
  }

  @page {
    margin: 0;
    background-image: none;
  }
}
