@import '../../stylesheets/main';

$mobile-menu-width: rem(250);

.MobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  background: get-color('white');
  height: 100%;
  padding: get-spacing();
  width: $mobile-menu-width;
  z-index: 1;
  transition: transform 200ms;
  transform: translateX(100%);

  > h2 {
    margin: 0;
    padding: 0;
  }

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.MobileMenu-enter-done {
  transform: translateX(0);
}
