@import '../../stylesheets/main';

.OptionsGrid {
  @include reset-list();
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: get-spacing();
}

.Thumbnail {
  border-bottom: 1px solid #d7d7d7;
}

.Button {
  @include reset-button;
  width: 100%;
  margin-bottom: get-spacing();
  border-radius: rem(10);
  overflow: hidden;
  border: 1px solid #ddd;

  &:hover,
  &:focus,
  &.active {
    border-color: get-color('blue');
    box-shadow: 0 0 0 3px get-color('blue');
  }

  &:active {
    border-color: get-color('pastel-blue');
    box-shadow: 0 0 0 3px get-color('pastel-blue');
  }
}

.Title {
  padding: get-spacing('half');
}
