@import '../../stylesheets/main';

.Preview {
  height: 100%;
  overflow-y: hidden;
  padding: get-spacing();
  // Used to visually centre Boomi because of his antenna on the left.
  margin-left: -#{get-spacing('double')};

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}