@import '../../stylesheets/main';

.Preview {
  height: 100%;
  overflow-y: hidden;
  position: relative;
  margin: get-spacing();
  // Used to visually centre Boomi because of his antenna on the left.
  margin-left: 0;
  transition: height 200ms;

  > svg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.minimized {
  height: calc(60% - #{get-spacing('double')});
}