@import '../../stylesheets/main';

$close-button-size: rem(40);
$sheet-border-radius: rem(20);
$header-height: rem(70);
$transition-duration: 150ms;

.Modal {
  position: fixed;
  z-index: 2;
  opacity: 0;
  transition-duration: $transition-duration;
  transition-property: transform, opacity;
  height: 80%;
  width: 100%;
  bottom: 0;
  background: get-color('white');
  border-radius: rem(20) rem(20) 0 0;
  transform: translateY(60%);
  overflow: hidden;

  @include tablet-and-up {
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    max-width: rem(800);
    border-radius: rem(20);
  }
}

.Modal-appear {
  opacity: 0;
}

.Modal-enter {
  opacity: 0;
}

.Modal-enter-done {
  opacity: 1;
  transform: translateY(0);

  @include tablet-and-up {
    transform: translate(-50%, -50%);
  }
}

// TODO: This isn't being applied for some reason.
// Could be due to React Router?
.Modal-exit-done {
  opacity: 0;
  transform: translateY(60%);
}

.Header {
  display: flex;
  justify-content: space-between;
  // TODO: Add to helper.css
  border-bottom: 1px solid #d7d7d7;
  height: $header-height;
  padding: 0 get-spacing();
  align-items: center;
  z-index: 1;
}

.Body {
  padding: get-spacing();
  overflow-y: scroll;
  height: calc(100% - #{$header-height});
}

.CloseButton {
  @include reset-button;
  width: $close-button-size;
  height: $close-button-size;
  border-radius: get-radius();
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    // TODO: Add to color map
    background: #e6e6e6;
  }

  > span {
    @include visually-hidden;
  }
}
