@import './colors';
@import './media-queries';
@import './helpers';

// TODO: Move this into its own file

html {
  box-sizing: border-box;
  touch-action: manipulation;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
