@import '../../stylesheets/main';

$hamburger-size: rem(80);

.Header {
  display: flex;
  align-items: center;
  position: relative;
  height: $hamburger-size;
  flex-shrink: 0;
  justify-content: center;
  transition: transform 100ms;
  transform: translateY(0%);

  h1 {
    margin: 0;
    font-size: rem(36);
    // TODO: Use color helper
    color: #1e96fc;
  }
}

.Header-enter-done {
  transform: translateY(0%);
}

.Header-exit-active {
  transform: translateY(-100%);
}


.MobileMenuActivator {
  position: absolute;
  top: 0;
  right: 0;
  padding: get-spacing('half');
  background: none;
  border: none;
  height: $hamburger-size;
  width: $hamburger-size;
  cursor: pointer;

  span {
    @include visually-hidden;
  }

  svg {
    width: rem(30);
    height: rem(30);
  }
}