@import '../../stylesheets/main';

$hamburger-size: rem(44);
$header-height: rem(64);
$header-color: #fff;

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: $header-height;
  flex-shrink: 0;
  transition: transform 100ms;
  transform: translateY(0%);
  padding: 0 get-spacing('double');
  background-color: #ff6392;

  @include tablet-and-up {
    justify-content: space-between;
  }
}

.Header-enter-done {
  transform: translateY(0%);
}

.Header-exit-active {
  transform: translateY(-100%);
}

.MobileMenuActivator {
  position: absolute;
  top: rem(12);
  right: get-spacing('half');
  padding: get-spacing('half');
  background: none;
  border: none;
  height: $hamburger-size;
  width: $hamburger-size;
  border-radius: calc(#{$hamburger-size} / 2);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ff3975;
  }

  span {
    @include visually-hidden;
  }

  svg {
    height: rem(24);
    width: rem(24);
    fill: $header-color;
  }

  @include tablet-and-up {
    display: none;
  }
}

.Logo {
  display: flex;

  svg {
    margin-right: get-spacing('half');
    width: rem(32);
    fill: $header-color;
  }

  h1 {
    margin: 0;
    font-size: rem(30);
    color: $header-color;
    padding-top: 2px; // Visually center
  }
}

@media print {
  .Header {
    display: none;
  }
}

.Links {
  display: none;

  @include tablet-and-up {
    display: flex;
  }

  ul {
    @include reset-list;
    display: flex;
  }

  li {
    margin-right: get-spacing('double');

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $header-color;
    font-weight: bold;
    font-size: rem(24);
  }
}
