@import '../../stylesheets/main';

$hamburger-size: rem(44);
$header-height: rem(64);

.Header {
  display: flex;
  align-items: center;
  position: relative;
  height: $header-height;
  flex-shrink: 0;
  justify-content: center;
  transition: transform 100ms;
  transform: translateY(0%);

  h1 {
    margin: 0;
    font-size: rem(36);
    // TODO: Use color helper
    color: #1e96fc;
  }
}

.Header-enter-done {
  transform: translateY(0%);
}

.Header-exit-active {
  transform: translateY(-100%);
}


.MobileMenuActivator {
  position: absolute;
  top: get-spacing('half');
  right: get-spacing('half');
  padding: get-spacing('half');
  background: none;
  border: none;
  height: $hamburger-size;
  width: $hamburger-size;
  border-radius: calc(#{$hamburger-size} / 2);
  cursor: pointer;

  &:hover {
    background-color: #1e96fc;

    svg {
      fill: get-color('white');
    }
  }

  span {
    @include visually-hidden;
  }

  svg {
    height: rem(24);
    width: rem(24);
    fill: #1e96fc;
  }
}