@import '../../stylesheets/main';

.ButtonGroupList {
  @include reset-list;
  display: flex;
  justify-content: center;
  margin: get-spacing();

  > li {
    flex: 1 0 auto;

    &:first-child {
      margin-right: get-spacing();
    }
  }

  button {
    @include reset-button;
    width: 100%;
    border: 2px solid get-color('dark-blue');
    color: get-color('dark-blue');
    padding: get-spacing('half');
    border-radius: rem(24);
    font-size: rem(20);
    font-weight: bold;

    &:hover,
    &:focus,
    &.active {
      border-color: get-color('blue');
      box-shadow: 0 0 0 3px get-color('blue');
      outline: none;
    }

    &:active {
      border-color: get-color('pastel-blue');
      box-shadow: 0 0 0 3px get-color('pastel-blue');
    }
  }
}
