@import './stylesheets/main';

$stripe-background-primary: #ffe7b2;
$stripe-background-secondary: get-color('pastel-yellow');
$stripe-background-width: 6px;

$layout-max-width: rem(1300);

// body > div is to select the #root div.
html,
body,
body > div {
  height: 100%;
  overflow: hidden;
  // Thanks to https://css-tricks.com/books/fundamental-css-tactics/striped-barberpole-animation/
  // for this effect!
  background-image: repeating-linear-gradient(
    -45deg,
    $stripe-background-primary,
    $stripe-background-primary $stripe-background-width,
    $stripe-background-secondary $stripe-background-width,
    $stripe-background-secondary $stripe-background-width * 2
  );
  background-size: 200% 200%;
  animation: barberpole 60s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

.App {
  height: 100%;
}

.Body {
  display: flex;
  flex-direction: column;
  // TODO: Use header-height variable
  height: calc(100% - #{rem(64)});
  overflow: hidden;

  @include tablet-and-up {
    flex-direction: row;
    align-items: center;
    max-width: $layout-max-width;
    margin: 0 auto;
  }
}

@media print {
  .Body {
    display: none;
  }

  html,
  body,
  body > div {
    background-image: none;
  }
}
