@import './stylesheets/main';

// body > div is to select the #root div.
html,
body,
body > div {
  height: 100%;
  overflow: hidden;
  background-color: get-color('pastel-yellow');
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
