@import '../../stylesheets/main';

.PrintButton {
  display: inline-block;
  // height: $print-button-height;
  background: #ff6392;
  color: get-color('white');
  border: 0;
  font-size: rem(20);
  font-weight: bold;
  cursor: pointer;
  border-radius: rem(20);
  padding: get-spacing('half') get-spacing();

  &:hover {
    background-color: #ff9bb9;
  }
}
