@import '../../stylesheets/main';

.PrintButton {
  display: inline-block;
  background: #ff6392;
  color: get-color('white');
  border: 0;
  font-size: rem(20);
  font-weight: bold;
  cursor: pointer;
  padding: get-spacing('half') get-spacing();
  width: 100%;

  &:hover,
  &:focus {
    background-color: #ff9bb9;
  }

  &:active {
    background-color: #f41357;
  }
}
