@import '../../stylesheets/main';

.ColorsList {
  list-style: none;
  padding: 0;
}

.Button {
  width: 100%;
  padding: get-spacing();
  background: none;
}

.Swatch {
  width: 40px;
  height: 40px;
  display: inline-block;
}