@import '../../stylesheets/main';

.ColorsList {
  // TODO: Make a reset-list helper.
  list-style: none;
  padding: 0;
  margin: 0;
}

.Button {
  @include reset-button;
  width: 100%;
  margin-bottom: get-spacing();
  border-radius: rem(10);
  overflow: hidden;
  border: 1px solid #ddd;

  &:hover,
  &:focus {
    // background-color: get-color('pastel-blue');
    // border-color: get-color('pastel-blue');
  }
}

.SwatchWrapper {
  // height: rem(30);
  display: flex;
}

.Swatch {
  display: inline-block;
  width: 100%;
  height: rem(45);
}

.Label {
  padding: get-spacing('half');
}